Support for RFC 8949 Section 4.2 / Deterministic Encoding / Canonical Encoding

Are there any plans to support deterministic encoding as described in RFC 8949 section 4.2?

Hello @apkrieg,

Integer and floating point numbers are already serialized in the most minimal form.
Indefinite lengths are not used for supported containers.
The only missing feature to support deterministic cbor would be to order map entries correctly (by size then lexicographically)

Sadly, I have not much time to dedicate to Dahomey.Cbor currently but I'd welcome a PR if you'd like to contribute!

Cheers,

Michaël 