Incorrect DateTime wire encoding

We are not properly encoding Semantic Tag value 0 for date/time strings and Semantic Tag value 1 for numerical representation of seconds (i.e. Unix Epoch, as defined in [RFC7049, Section 2.4.1](https://datatracker.ietf.org/doc/html/rfc7049#section-2.4.1)). 

Third party decoders (especially for untyped languages such as Python) will not be able to decode date/time values correctly without the respective Semantic Tag as there is no way to distinguish them from strings/integer values.

Also, can we consider supporting Double values for the Unix Epoch format? We are loosing a whole lot of precision with the integer only epoch encoding.